header{
    min-height: 100px;
    background-color: orange;
}
*[class^="col"]{
    border: 1px solid black;
}

.d-md-flex li{
    color: red;
}
.jumbo{
    height: 500px;
    background-color: lightgreen;
}
.cards{
    background-color: darkred;
}
.cerchio{
    min-height: 250px;
    min-width: 250px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 0 auto;
}
.faq{
    background-color: aquamarine;
    min-height: 200px;
}
.about{
    background-color: wheat;
}
.footer{
    background-color: gray;
}